*,*:before, *:after {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: Montserrat;
  font-size: 17px;
  line-height: 1.6;
  grid-template-areas:
  "hero"
  "case-study-section1"
  "case-study-section2"
  "case-study-section3";
}


#buttons li {
  float: left;
  list-style: none;
  color: #FFFFFF;
  text-align: center;
  background-color: #0C2340;
  margin-right: 64px;
 width: 150px;
 line-height: 50px;
 border-radius: 4px;
}

#buttons li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

.navbar-list {
  grid-area: navbar-list;
}

/**Headers**/
.hero {
  background-image: url(../images/hero-image.png);
  background-size: 100% 100%;
  grid-area: hero;
  padding: 2rem;
}
 h1 {
   color: #ffffff;
  font-size: 56px;
  font-family: Fjalla One;
  text-align: center;
  margin-top: 16rem;
  margin-bottom: 16rem;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

.busy-bus{
  font-family: Roboto;
}

.draw-with-me{
  font-family: Gaegu;
}

.case-study-section1, .case-study-section3 {
  background-color: #243853;
  color: #ffffff;
}

.case-study-section2, footer {
  background-color: #0C2340;
  color: #ffffff;
}

.case-study-section1, .case-study-section2, .case-study-section3 {
  padding-bottom: 5rem;
}



/**Homepage Case Study Section 1**/
.case-study-section1 {
  grid-area: case-study-section1;
}

.center {
  text-align: center;
}

.bloccloud-h2 {
  text-align: center;
}

.button {
  color: #FFFFFF;
  text-align: center;
  background-color: #0C2340;
  width: 200px;
  line-height: 60px;
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
}

.button-2 {
  color: #FFFFFF;
  text-align: center;
  background-color: #243853;
  width: 200px;
  line-height: 60px;
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
}

.bloccloud-button {
  text-align: center;
  padding: 2rem;
}

.bloccloud-desktop, .bloccloud-smartphone, .bloccloud-logo {
  text-align: center;
}

.center {
  width: 50%;
  margin-left: 10rem;
}


/**Homepage Case Study Section 2**/
.case-study-section2 {
  grid-area: case-study-section2;
}

.busy-bus {
  text-align: center;
  margin-top: 20%;
}

.busy-bus2 {
  text-align: center;
}

.case-study-section2 p {
  margin-top: 1%;
  text-align: center;
}

.case-study-section2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

/**Homepage Case Study Section 3**/
.case-study-section3 {
  grid-area: case-study-section3;
}

.button2 {
  color: #FFFFFF;
  text-align: center;
  background-color: #0C2340;
  width: 300px;
  line-height: 60px;
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
}

.draw-with-me {
  text-align: center;
  margin-top: 5rem;

}

.draw-with-me2 {
  text-align: center;
}

.case-study-section3 p {
  text-align: center;
  margin-top: 1%;
}

.horizontal-image, .vertical-image {
  text-align: center;
  padding: 4rem;
}

.upcoming {
  margin-top: 10%;
  text-align: center;
}

/**Footer**/
footer {
  padding: 10rem;
}
footer h2 {
  text-align: center;
}

footer p {
  text-align: center;
  margin-top: 2rem;
}


footer li {
  float: right;
  font-size: 3rem;
  margin-top: 5rem;
  position: relative;
  right: 41%;
}

i.fa {
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width: 768px) {
  footer li {
    right: 42%
  }
}

@media screen and (min-width: 1024px) {
  .bloccloud-desktop {
    padding-left: 5rem;
    padding-top: 15rem;
  }

  .bloccloud-smartphone {
    padding-top: 15rem;
  }

.case-study-section1, .case-study-section2 {
  padding: 4rem;
 display: grid;
 grid-template-columns: 4fr 4fr 4fr;
}

.case-study-section2 img {
  padding-left: 20rem;
}

.center {
width: 100%;
margin-left: 0;
}


.horizontal-image {
  padding-top: 8rem;
}

.vertical-image {
   float: left;
   padding-left: 20rem;
 }

  .upcoming {
    margin: 10rem;
  }
}

footer li {
  right: 42.5%
}
/**Case Study Header**/

.bloccloud-logo {
 text-align: center;
 margin-top: 15rem;
}

.bloccloud-header h2 {
  color: #ffffff;
  text-align: center;
}

.sub-heading {
  color: #ffffff;
  font-size: 24px;
  padding-top: 2%;
}

.view-prototype {
  padding: 5rem;
  text-align: center;
}

/**Case Study Body, Section 1**/
.section1 {
  margin: 5rem;
}

.section1 h3 {
  margin: 5rem;
  text-align: center;
}

.section1 p {
  text-align: center;
 }

.section1-img {
  margin: 5rem;
  text-align: center;
}

/**Section 2**/
.section2 {
margin: 5rem;
}

.section2 h3 {
  margin-bottom: 2rem;
  text-align: center;
}

.p-spacing {
  margin-bottom: 2rem;
  text-align: center;
}
/**Section 3**/
.section3 {
  margin: 5rem;
}

.section3 h3, .section3 p {
  margin: 5rem;
  text-align: center;
}

.section3 img {
 display: block;
  margin: 0 auto;
  width: 50%;
}

/**Section 4**/
.section4 {
  margin: 5rem;
}

.section4 h3, .section4 p {
  margin: 5rem;
  text-align: center;
}

.section4 img {
  display: block;
  margin: 0 auto;
  width: 75%;
}

/**Section 5**/
.section5 {
  margin: 5rem;
}

.section5 h3, .section5 p {
  margin: 5rem;
  text-align: center;
}

.section5 img {
  display: block;
  margin: 0 auto;
}

/**Section 6**/
.section6 {
  margin: 5rem;
}

.section6 h3, .section6 p {
  margin: 5rem;
  text-align: center;
}


.section6 img {
 display: block;
  margin: 0 auto;
}

/**Section 7**/
.section7 {
  margin: 5rem;
}

.section7 h3, .section7 p {
  margin: 5rem;
  text-align: center;
}

.section7 img {
 display: block;
 margin: 0 auto;
}

/**Section 8**/
.section8 {
  margin: 5rem;
}

.section8 h3, .section8 p {
  margin: 5rem;
  text-align: center;
}

.desktops img {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.smartphones img {
  float: left;
  margin-left: 12rem;
}

.smartphones2 img {
  margin-left: 10rem;
}

/**Section 9**/
.section9 {
  margin: 5rem;
}

.section9 h3, .section9 p {
  margin: 5rem;
  text-align: center;
}

.move-top {
  text-align: center;
  margin-top: 10%;
}
