*,*:before, *:after {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 1.6rem;
  grid-template-areas:
  "hero"
  "case-study-section1"
  "case-study-section2"
  "case-study-section3";
}

.navbar-logo {
  float: left;
}

.navbar-list {
  grid-area: navbar-list;
  margin-top: 1rem;
}

.navbar-list a {
  display: none;
}

.navbar-list a.icon {
    float: right;
    display: block;
  }

  .navbar-list.responsive {
    position: relative;
  }

  .navbar-list.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar-list.responsive a {
    color: #ffffff;
    display: block;
    position: relative;
    right: 64px;
    text-align: left;
    text-decoration: none;
  }

.navbar-list i {
  font-size: 2.5rem;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
}

/**Headers**/
.hero {
  background-image: url(../images/hero-image.png);
  background-size: cover;
  background-position: center;
  grid-area: hero;
  padding: 2rem;
}

.bloccloud-hero {
  background-image: url(../images/bloccloud-hero-image.png);
  background-size: cover;
  background-position: center;
  padding: 2rem;
}

 h1 {
   color: #ffffff;
  font-size: 4rem;
  font-family: Fjalla One;
  text-align: center;
  line-height: 1.3;
  margin: 10rem auto 10rem;
  max-width: 700px;
}

.highlight {
  color: #52afb3;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.6;
}

h3 {
  font-size: 2.1rem;
}

.busy-bus{
  font-family: Roboto;
}

.draw-with-me{
  font-family: Gaegu;
}

.case-study-section1, .case-study-section3, .about-me-section1 {
  background-color: #243853;
  color: #ffffff;
}

.case-study-section2 {
  background-color: #ffffff;
  color: #000000;
}

 footer, .about-me-section2 {
  background-color: #0C2340;
  color: #ffffff;
}

.case-study-section1, .case-study-section2, .case-study-section3 {
  padding-bottom: 5rem;
}



/**Homepage Case Study Section 1**/
.case-study-section1 {
  grid-area: case-study-section1;
}

.center, .center-last {
  margin: 2rem;
  text-align: center;
}

.bloccloud-h2 {
  text-align: center;
  max-width: 400px;
  margin: auto;
}

.button {
  color: #FFFFFF;
  text-align: center;
  background-color: #0C2340;
  width: 200px;
  line-height: 60px;
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
}

.bloccloud-button a:hover {
  color: #0C2340;
  background-color: #FFFFFF;
  transition-delay: 0.2s;
}

.button-2 {
  color: #FFFFFF;
  text-align: center;
  background-color: #243853;
  width: 200px;
  line-height: 60px;
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
}

.busybus-button a:hover {
  color: #FFFFFF;
  background-color: #0C2340;
  transition-delay: 0.2s;
}

.bloccloud-button, .busybus-button {
  text-align: center;
  padding: 2rem;
}

.bloccloud-desktop, .bloccloud-logo {
  text-align: center;
}

.bloccloud-logo img{
  height: auto;
  max-width: 100px;
}

.bloccloud-desktop img {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}

/**Homepage Case Study Section 2**/
.case-study-section2 {
  grid-area: case-study-section2;
}

.busy-bus {
  text-align: center;
  margin-top: 20%;
}

.busy-bus2 {
  text-align: center;
}

.case-study-section2 p {
  margin-top: 1%;
  text-align: center;
}

.case-study-section2 img {
  display: block;
  margin: 5% auto;
  max-height: 400px;
  max-width: 400px;
}

/**Homepage Case Study Section 3**/


/**Footer**/
footer {
  padding: 10rem;
}
footer h2 {
  text-align: center;
}

footer p {
  text-align: center;
  margin-top: 2rem;
}


.footer-icons {
  display: flex;
  font-size: 3rem;
  margin: 2rem;
  justify-content: center;
}

.footer-icons a {
  text-decoration: none;
  margin: 1rem;
}

i.fa {
    color: #ffffff;
}

i.fa:hover {
  color: #52afb3;
  transition-delay: 0.2s;
}

@media screen and (max-width: 999px){
  h1{
    font-size: 3rem;
  }

  .bloccloud-smartphone, .bloccloud-desktop {
   margin: 2rem;
 }
}

@media screen and (min-width: 1000px) {
  .navbar-list a {
    float: left;
    list-style: none;
    color: #FFFFFF;
    text-align: center;
    margin-right: 64px;
   width: 150px;
   line-height: 50px;
   border-radius: 4px;
   text-decoration: none;
   display: block;
  }

  .navbar-list a:hover {
color: #52afb3;
transition-delay: 0.2s;
}

  .navbar-list a.icon {
    display: none;
  }

  .navbar-list i {
    display: none;
  }


  .bloccloud-desktop {
    padding-top: 15rem;
    position: relative;
    left: 3rem;
   }

  .bloccloud-smartphone {
    padding-top: 15rem;
  }

  .case-study-section1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .bloccloud-desktop img, .bloccloud-smartphone img {
    max-width: 100%;
    height: auto;
}

.bloccloud-smartphone img {
  margin-left: 2rem;
}

  .case-study-section2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 4rem;
  }

.case-study-section2 img {
  padding-left: 5rem;
}

.center {
width: 100%;
margin-left: 0;
}

.footer-icons{
  right: 30%;
}

.smartphones img {
  float:left;
  max-width: 100%;
  height: auto;
  position: relative;
  left: 14rem;
}

.smartphones2 img{
  height: auto;
  max-width: 100%;
  position: relative;
  left: 8rem;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 5rem;
}

.about-me-section1 img, .about-me-section2 img {
  position: relative;
  left: 64px;
}
}
/**Case Study Header**/

.bloccloud-logo {
 text-align: center;
 margin-top: 15rem;
}

.bloccloud-header h2 {
  color: #ffffff;
  text-align: center;
}

.sub-heading {
  color: #ffffff;
  font-size: 24px;
  padding-top: 2%;
}

.view-prototype {
  padding: 5rem;
  text-align: center;
}

.view-prototype a:hover{
  color: #0C2340;
  background-color: #FFFFFF;
  transition-delay: 0.2s;

}

/**Case Study Body, Section 1**/
.section1 {
  margin: 5rem;
}

.section1 h3 {
  margin: 5rem auto 3rem;
  text-align: center;
}

.section1 p {
  max-width: 700px;
  margin: auto;
 }

.section1-img {
  margin: 5rem;
  text-align: center;
}

.section1-img img {
  height: auto;
  max-width: 100%;
}

/**Section 2**/
.section2 {
margin: 5rem;
}

.section2 h3 {
  margin: 5rem auto 3rem;
  text-align: center;
}

.p-spacing, .break {
  margin: 5rem auto 5rem;
  max-width: 600px;
  text-align: left;
}

.break {
  padding-top: 5rem;
}

ul {
  list-style-type: circle;
  max-width: 700px;
  margin: auto;
}

li {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.5rem;
  line-height: 1.2;
}
/**Section 3**/
.section3 {
  margin: 5rem;
}

.section3 h3 {
  margin: 5rem auto 3rem;
  text-align: center;
}

.section3 img {
 display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

b {
  font-weight: 700;
}

/**Section 4**/
.section4 {
  margin: 5rem;
}

.section4 h3 {
  margin: 5rem auto 3rem;
  text-align: center;
}

.section4 img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/**Section 5**/
.section5 {
  margin: 5rem auto 3rem;
}

.section5 h3 {
  margin: 5rem;
  text-align: center;
}

.section5 img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/**Section 6**/
.section6 {
  margin: 5rem auto 3rem;
}

.section6 h3 {
  margin: 5rem;
  text-align: center;
}


.section6 img {
 display: block;
  margin: 0 auto;
  max-width: 900px;
  height: auto;
}

/**Section 7**/
.section7 {
  margin: 5rem;
}

.section7 h3 {
  margin: 5rem auto 3rem;
  text-align: center;
}

.section7 img {
 display: block;
 margin: 0 auto;
 max-width: 100%;
 height: auto;
}

.style-guide img {
  margin: 5rem auto 5rem;
}

/**Section 8**/
.section8 {
  margin: 5rem;
}

.section8 h3 {
  margin: 5rem auto 3rem;
  text-align: center;
}

.desktops img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.smartphones img, .smartphones2 img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.smartphones img {
  margin-bottom: 5rem;
}


/**Section 9**/
.section9 {
  margin: 5rem;
}

.section9 h3 {
  margin: 5rem auto 3rem;
  text-align: center;
}

.move-top {
  text-align: center;
  margin-top: 10%;
}

.move-top a:hover{
  color: #FFFFFF;
  background-color: #0C2340;
  transition-delay: 0.2s;
}

/**About Me**/
.about {
  margin: 5rem;
  text-align: center;
}

b {
  font-weight: 700;
}

.about-me-section1 img,.about-me-section2 img {
  display: block;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.about-me-section1, .about-me-section2 {
padding-top: 5rem;
padding-bottom: 5rem;
}

.quote {
  font-size: 2rem;
  line-height: 1.1;
  margin: auto;
  max-width: 600px;
  font-style: italic;
  border-left: solid 4px white;
  padding-left: 20px;
  margin-bottom: 5rem;
}
